<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Login.Properties.Settings.WBPOSConnectionString" connectionString="Data Source=DESKTOP-RP02MHC;Initial Catalog=WBPOS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Login.Properties.Settings.WareHouseMSConnectionString"
      connectionString="Data Source=DESKTOP-RP02MHC;Initial Catalog=WareHouseMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Login.Properties.Settings.WareHouseMSConnectionString1"
      connectionString="Data Source=LAPTOP-V4M9JF9E;Initial Catalog=WareHouseMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Login.Properties.Settings.WareHouseMSConnectionString2"
      connectionString="Data Source=LAPTOP-V4M9JF9E;Initial Catalog=WareHouseMS;User ID=sa;Password=Numero1"
      providerName="System.Data.SqlClient" />
    <add name="Login.Properties.Settings.WareHouseMSConnectionString3"
      connectionString="Data Source=localhost;Initial Catalog=WareHouseMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Login.Properties.Settings.WareHouseMSConnectionString4"
      connectionString="Data Source=172.25.1.101;Initial Catalog=WareHouseMS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Login.Properties.Settings.NewWareHouseCon" connectionString="Data Source=localhost;Initial Catalog=WareHouseMS;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Login.Properties.Settings.masterConnectionString"
      connectionString="Data Source=129.60.10.62;Initial Catalog=master;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Management.Sdk.Sfc" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Smo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
